.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.search-input,
.select {
  max-width: 600px;
  background-color: #f6f6f6;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  width: 300px;
  color: inherit;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;
  }

  .search-input,
  .select {
    width: auto;
  }
}
