.App {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 3rem; */
  /* max-width: 87.5rem; */
  padding: 12.5rem auto;
  margin-bottom: 50px;
  padding-top: 2rem;
  /* position: relative; */
}

.main-title {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .container {
    align-items: center;
    padding: 0;
    padding-top: 20px;
    gap: 2rem;
  }

  .main-title {
    font-size: 20px;
    margin-bottom: -10px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
